<div> Hello <strong><%= userName %></strong> </div>

<br>
<br>

<p>
Thank you for creating account with us. Login and enjoy the service
<div>
	<a href="<%=link%>" target='_blank'><%=link%></a>
</div>

</p>

<br>
<div>
Regards
<br>
NodeGeek Team
</div>
